<card-component [props]="{ classname: 'card-root' }">
    <div class="containerHeader">
        <div class="containerAvatarInfo">
            <p-avatar
                [label]="
                    usuario.fotoUrl ? 
                        '' : 
                        usuario.nome.charAt(0)
                "
                size="xlarge"
                shape="circle"
                class="avatar" 
            />
            <div class="containerInformaion">
                <typography-component [props]="{
                        variant: 'caption'
                    }"
                >
                    Nome:
                </typography-component>
                <typography-component [props]="{
                        variant: 'primary',
                    }"
                >
                    {{ usuario.nome }}
                </typography-component>
                <typography-component [props]="{
                        variant: 'caption'
                    }"
                >
                    Departamento:
                </typography-component>
                <typography-component [props]="{
                        variant: 'primary'
                    }"
                >
                    {{ switchDepartamentoNome() }}
                </typography-component>
            </div>
        </div>
        <p-divider />
    </div>
    <div>
        @for (item of menuItemDashboard; track item.tipo) {
            <menu-item-component
                [props]="{ 
                    model: item, 
                    sigTipo: enumMenu 
                }"
            >
            </menu-item-component>
        }
        <p-divider />
    </div>
    <div class="containerCategories">
        @for (item of menuItems; track item.tipo) {
            <menu-item-component
                [props]="{
                    model: item,
                    sigTipo: enumMenu,
                }"
            >
            </menu-item-component>
        }
    </div>
    <div>
        <div>
            @for (item of menuItemSair; track item.tipo) {
                <p-divider />
                <menu-item-component
                    [props]="{
                        model: item, 
                        sigTipo: enumMenu,
                    }"
                >
                </menu-item-component>
            }
        </div>
    </div>
</card-component>