<card-component [props]="{ classname: 'card-root' }">
    <div class="containerHeader">
        <div class="containerAvatarInfo">
            <p-avatar label="L" size="xlarge" shape="circle" class="avatar" />
            <div class="containerInformaion">
                <p> Leonardo </p>
                <p> Administrador </p>
            </div>
        </div>
        <p-divider />
    </div>
    <div>
        @for (categoria of menuCategoria; track categoria.tipo) {
        <p> {{ categoria.nome }} </p>
        <p-divider />
        <div>
            @for (item of menuItems; track item.tipo) {
                <menu-item-component [props]=" { model: item, sigTipo: enumMenu }"></menu-item-component>
            }
        </div>
        }
    </div>
</card-component>