::ng-deep .card-root {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 250px;
    background: #FFF;
    border-radius: 0px 16px 16px 0px !important;
}

.container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

::ng-deep p {
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
}

::ng-deep .containerHeader {
    display: flex;
    width: 100%;
    flex-direction: column;
}

::ng-deep .containerAvatarInfo {
    display: flex;
    gap: 8px
}

::ng-deep .p-avatar {
    height: 100px !important;
    width: 100px !important;
}

::ng-deep .containerInformaion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
}

.avatar {
    font-family: sans-serif;
}

.containerCategories {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    gap: 8px;
}

.containerCategoria {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.tituloCategoria {
    font-size: 12px;
    color: gray;
}
