<div>
    <button-component [props]="botaoProps">
        <div [ngSwitch]="props.model.tipo">

            <!-- DASHBOARD -->
            <dashboard-icon-component
                *ngSwitchCase="enumMenu.DASHBOARD"
                [props]="{
                    classname: 'icons',
                    fill: switchIconsColors(),
                }"
            >
            </dashboard-icon-component>

            <!-- RECPÇÃO -->
            <person-icon-text-component
                *ngSwitchCase="enumMenu.CLIENTE"
                [props]="{
                    classname: 'icons',
                    fill: switchIconsColors(),
                }"
            >
            </person-icon-text-component>
            <document-icon-component
                *ngSwitchCase="enumMenu.DOCUMENTOS"
                [props]="{
                    classname: 'icons',
                    fill: switchIconsColors(),
                }"
            >
            </document-icon-component>

            <!-- COMERCIAL --> 
            <person-icon-text-component
                *ngSwitchCase="enumMenu.SIMULADOR"
                [props]="{
                    classname: 'icons',
                    fill: switchIconsColors(),
                }"
            >
            </person-icon-text-component>
            <person-icon-text-component
                *ngSwitchCase="enumMenu.CONTRATOS"
                [props]="{
                    classname: 'icons',
                    fill: switchIconsColors(),
                }"
            >
            </person-icon-text-component>

            <!-- SAIR -->
            <exit-icon-component
                *ngSwitchCase="enumMenu.SAIR"
                [props]="{
                    classname: 'icons',
                    fill: switchIconsColors(),
                }" 
            >
            </exit-icon-component>
        </div>
        {{ props.model.titulo }}
    </button-component>
</div>