::ng-deep .card {
    display: flex;
    width: 100%;
    background: #FFF;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.image {
    height: 32px;
    width: 32px;
}

.avatar {
    height: 50px !important;
    width: 50px !important;
}

.containerEdit {
    display: flex;
    align-items: center;
}