<card-component [props]="{
    classname: 'card',
}">
    <div class="container">
        <div>
            <p-avatar styleClass="avatar" [image]="props.model.foto" shape="circle" />
        </div>
        <div>
            <typography-component [props]="{
            variant: 'caption'
        }">
                Nome
            </typography-component>
            <typography-component [props]="{
            variant: 'primary'
        }">
                {{ props.model.nome }}
            </typography-component>
        </div>
        <div>
            <typography-component [props]="{
            variant: 'caption'
        }">
                RG
            </typography-component>
            <typography-component [props]="{
            variant: 'primary'
        }">
                {{ rgFormatado() }}
            </typography-component>
        </div>
        <div>
            <typography-component [props]="{
            variant: 'caption'
        }">
                CPF
            </typography-component>
            <typography-component [props]="{
            variant: 'primary'
        }">
                {{ cpfFormatado() }}
            </typography-component>
        </div>
        <div>
            <typography-component [props]="{
            variant: 'caption'
        }">
                Data Nascimento
            </typography-component>
            <typography-component [props]="{
            variant: 'primary'
        }">
                {{ dataNascimentoFormatado() }}
            </typography-component>
        </div>
        <div>
            <typography-component [props]="{
            variant: 'caption'
        }">
                Telefone
            </typography-component>
            <typography-component [props]="{
            variant: 'primary'
        }">
                {{ celularFormatado() }}
            </typography-component>
        </div>
        <div class="containerEdit">
            <p-divider layout="vertical" />
            <edit-icon-component [props]="{
                classname: '',
                fill: '#000'
            }"></edit-icon-component>
        </div>
    </div>
</card-component>