.containerRoot {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius: 16px;
  padding: 8px;
}

.containerUsuario {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

::ng-deep .p-button:hover {
  background-color: gainsboro !important;
  box-shadow: none !important;
  color: inherit !important;
  border-color: transparent !important;
}
