<div class="containerRoot">
    <div class="container">
        <div>
            <typography-component 
                [props]="{
                    variant: 'h2'
                }"
            >
                {{ props.title }}
            </typography-component>
        </div>
        <div class="containerUsuario">
            <p-button [rounded]="true" [text]="true">
                <settings-icon-component [props]="{
                    classname: '',
                    fill: '#000'
                }"></settings-icon-component>
            </p-button>
        </div>
    </div>
</div>