<div class="containerRoot">
    <div class="container">
        <div>
            <typography-component 
                [props]="{
                    variant: 'h2'
                }"
            >
                {{ props.title }}
            </typography-component>
        </div>
        <div class="containerUsuario">
            <button-component [props]="{
                fullwidth: false,
                text: true,
                classname: '',
                onClick: handleClick,
            }">
                <badge-icon-component [props]="{
                    classname: '',
                    fill: '#000'
                }"></badge-icon-component>
            </button-component>
            <button-component [props]="{
                fullwidth: false,
                text: true,
                classname: '',
                onClick: handleClick,
            }">
                <settings-icon-component [props]="{
                    classname: '',
                    fill: '#000'
                }"></settings-icon-component>
            </button-component>
        </div>
    </div>
</div>