<p-drawer
    [visible]="props.visible"
    [position]="props.position"
    (onHide)="props.onClose()"
>
    <ng-template #header>
        <div>
            <typography-component
                [props]="{
                    variant: 'h3',
                }"
            >
                {{ props.title }}
            </typography-component>
        </div>
    </ng-template>

    @if (props.formContainer) {
        <ng-template #content>
            <ng-container
                *ngTemplateOutlet="props.formContainer"
            ></ng-container>
        </ng-template>
    }

    @if (props.endButtons) {
        <ng-template #footer>
            <ng-container 
                *ngTemplateOutlet="props.endButtons"
            ></ng-container>
        </ng-template>
    }
</p-drawer>