::ng-deep .p-card {
    padding: 8px;
    border-radius: 8px;

}

::ng-deep .p-card-body {
    padding: 0 !important;
}

::ng-deep p {
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
}

::ng-deep .containerHeader {
    display: flex;
    width: 100%;
    gap: 8px;
    flex-direction: column;
}

::ng-deep .containerAvatarInfo {
    display: flex;
    gap: 8px
}

::ng-deep .p-avatar {
    height: 100px !important;
    width: 100px !important;
}

::ng-deep .containerInformaion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
}