::ng-deep .p-card {
    padding: 8px;
    border-radius: 8px;

}

::ng-deep .p-card-body {
    padding: 0 !important;
    height: 100%;
}

::ng-deep .p-card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}