<ng-template #formContainer>
    <form-adicionar-cliente-component 
        (formReady)="setFormRef($event)"
        [handleSubmit]="handleSubmit"
    >
    </form-adicionar-cliente-component>
</ng-template>

<ng-template #endButtons>
    <grid-component [props]="{
            container: true,
        }">
        <div class="button-cancelar-container">
            <button-component [props]="{
                    fullwidth: true,
                    classname: '',
                    outlined: true,
                    onClick: onClickSalvar,
                }">
                Cancelar
            </button-component>
        </div>
        <div class="button-salvar-container">
            <button-component [props]="{
                    fullwidth: true,
                    classname: '',
                    onClick: onClickSalvar,
                }">
                Salvar
            </button-component>
        </div>
    </grid-component>
</ng-template>

<drawer-component 
    [props]="{
        visible: props.visible,
        position: 'right',
        title: 'Adicionar Cliente',
        onClose: props.onClose,
        endButtons: endButtons,
        formContainer: formContainer,
    }"
>
</drawer-component>